.search-anime-page {
  margin: 24px;
}

.search-field {
  width: 80%;
}

.anime-results {
  margin-top: 16px;
}

.anime-result {
  margin-bottom: 16px;
}

.anime-load-progress {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20vh;
}
