<!-- Page that shows all the waifus -->

<div class = "waifu-page">



  <div fxLayout.xs = "column" fxLayoutGap="10px" fxLayoutGap.xs="10px">
      <div fxFlex class = "item item-1">
        <waifu-cardo [waifu] = "rando_waifu"></waifu-cardo>
      </div>
      <div fxFlex class = "item item-2">
        <waifu-cardo [waifu] = "rando_waifu"></waifu-cardo>
      </div>
      <div fxFlex class = "item item-3">
        <waifu-cardo [waifu] = "rando_waifu"></waifu-cardo>
      </div>
  </div>




</div>
