<div class = "profile-page">

  <h1 class = "mat-display-3 profile-name">{{user_profile.name}}</h1>

  <img class = "waifu-img" src = "{{user_profile.fav_waifu.image_url}}"/>

  <div class = "profile-bio">
    <h1 class = "mat-typography profile-bio-header">Bio:</h1>
    <p class = "mat-typography">
      {{user_profile.bio}}
    </p>
  </div>


  <div class = "mat-typography fav-entertainment">
    <p class = "entertainment-label">Favorite Show:</p>
    <p class = "entertainment-title">{{user_profile.fav_entertainment.title}}</p>
  </div>

</div>
