<div class = "profile-page">
  <mat-card>
    <h1 class = "mat-display-3 profile-name">{{user_profile.name}}</h1>

    <div class = "btn-edit" fxLayout = "row" fxLayoutAlign = "end" class = "btn-edit" >
      <button (click) = "editProfile()" mat-raised-button color = "primary">
        Edit
      </button>
    </div>
    <div>
      <img *ngIf = "user_profile.fav_waifu !== null"  class = "waifu-img" src = "{{user_profile.fav_waifu.image_url}}"/>
    </div>

    <div class = "profile-bio profile-content">
      <h1 class = "mat-typography profile-bio-header">Bio:</h1>
      <p class = "mat-typography">
        {{user_profile.bio}}
      </p>
    </div>


    <div *ngIf = "user_profile.fav_entertainment !== null" class = "mat-typography fav-entertainment profile-content">
      <p class = "entertainment-label">Favorite Show:</p>
      <p class = "entertainment-title">{{user_profile.fav_entertainment.title}}</p>
    </div>

  </mat-card>
</div>
