.profile-page {
  margin: 8px;
  max-width: 65rem;
  margin-left:auto;
  margin-right:auto;

}

.btn-edit {
  margin-bottom: 32px;

}

.btn-edit button {
  width: 20%;
}

.waifu-img {
  max-width: 60%;
  height: auto;
  display:block;
  margin-left: auto;
  margin-right: auto;
}

.fav-entertainment {
  margin-top: 24px;
}

.fav-entertainment .entertainment-label {
  font-size: 1.5em;
}

.fav-entertainment .entertainment-title {
  font-size: 1em;
}

.profile-title {
  margin-top: 16px;
  text-align:center;
}

.profile-bio-header {
  font-size: 1.5em;
}

.profile-bio {
  margin-top: 16px;
}

.profile-content {
  padding-left: 16px;
  padding-right: 16px;
}

.profile-name {
  margin-top: 16px;
  text-align:center;
}
