<h1>The Home Page</h1>

<mat-nav-list>
  <mat-list-item class = "nav-item">
    <a href = "#">Waifus</a>
    <mat-icon matListIcon>
      keyboard_arrow_right
    </mat-icon>
  </mat-list-item>
  <mat-list-item class = "nav-item">
    <a href = "#">Search Anime</a>
    <mat-icon matListIcon>
      keyboard_arrow_right
    </mat-icon>
  </mat-list-item>
</mat-nav-list>

<!--

<div fxLayout.xs = "column" fxLayoutGap="10px" fxLayoutGap.xs="10px">
    <div fxFlex class = "item item-1">
      <waifu-cardo></waifu-cardo>
    </div>
    <div fxFlex class = "item item-2">
      <waifu-cardo></waifu-cardo>
    </div>
    <div fxFlex class = "item item-3">
      <waifu-cardo></waifu-cardo>
    </div>
</div>

-->
