<mat-toolbar color = "primary">
  <button mat-icon-button [matMenuTriggerFor] = "menu"><mat-icon class="toolbar-icon">dehaze</mat-icon></button>
  <mat-menu #menu="matMenu">
    <a href = "/" mat-menu-item>Home</a>
    <a href = "/profile" mat-menu-item>Profile</a>
    <a href = "/waifus" mat-menu-item>Waifus</a>
    <a href = "/search-anime" mat-menu-item>Search Anime</a>
    <a href = "/view-collection" mat-menu-item>View Collection</a>
  </mat-menu>
  <span class = "toolbar-content">Animku</span>
</mat-toolbar>
